body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif; 
  padding: 20px;
  min-width: 320px;
  height: 90vh;
  background-color: rgb(27, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
}